<header class="flex justify-between items-center py-3 w-[1120px]">
  <img src="/src/assets/Foto.jpg" class="rounded-full w-12 h-13 " alt="Aimar photo">

  <nav>
    <a href="/">Home</a>
    <a href="/about">About</a>
    <a href="/projects">Project</a>
    <a href="/contac">Contac</a>
  </nav>
</header>