<header
  class="fixed top-0 z-10 flex items-center justify-center w-full mx-auto mt-2"
>
  <nav
    class="bg-black flex px-3 text-m font-medium rounded-full text-white dark:text-gray-200 justify-center items-center"
  >
    <a
      class="relative block px-2 py-2 transition hover:text-blue-500 dark:hover:text-blue-500"
      href="#Top">Inicio</a
    >
    <a
      class="relative block px-2 py-2 transition hover:text-blue-500 dark:hover:text-blue-500"
      href="#Sobre-mi">Sobre mi</a
    >
    <a
      class="relative block px-2 py-2 transition hover:text-blue-500 dark:hover:text-blue-500"
      href="#Experiencia">Experiencia</a
    >
    <a
      class="relative block px-2 py-2 transition hover:text-blue-500 dark:hover:text-blue-500"
      href="#Proyectos">proyectos</a
    >
  </nav>
</header>
