---
const Prj = [
  {
    title: "Autenticaci贸n",
    description:
      "Creaci贸n de una web en la que se utilizan herramientas de autenticaci贸n para verificar usuarios",
    link: "#",
    github: "https://github.com/David-Ramirez01/Test-CB",
    image: "/public/projects/auth.webp",
    tags: ["React.JS", "Firebase", "boostrap", "typeSript"],
  },
  {
    title: "Notes App",
    description:
      "proyecto Web utilizando Laravel(PHP) y JavaScript para la creaci贸n de notas",
    link: "#",
    github: "https://github.com/David-Ramirez01/app_notas",
    image: "https://placehold.co/400x200",
    tags: ["Laravel", "PHP", "JavaScript", "CSS"],
  },
  {
    title: "Buenas Practicas",
    description:
      "Demostracion de buenas practicas de programacion utilizando el framework web React.js",
    link: "#",
    github: "https://github.com/David-Ramirez01/Proyecto_BP_Frontend",
    image: "https://placehold.co/400x200",
    tags: ["JavaScript", ">HTML", "boostrap", "React.JS"],
  },
];
---

{
  Prj.map(({ title, description, link, github, image, tags }) => (
    <article class="py-2">
      <h2 class="text-2xl font-semibold text-blue-400/80 mb-2">{title}</h2>
      <p class="text-lg mb-2 text-pretty">{description}</p>
      <ul class="flex flex-row gap-x-2 mb-2">
        {tags.map((tag) => (
          <li>{tag}</li>
        ))}
      </ul>
      {image && (
        <img
          class="roundes shadow-2xl shadow-white/10"
          src={image}
          alt="Captura de pantalla del proyecto"
        />
      )}
    </article>
  ))
}
