---
const Prj = [
  {
    title: "Autenticaci贸n",
    description:
      "Creaci贸n de una web en la que se utilizan herramientas de autenticaci贸n para verificar usuarios",
    link: "#",
    github: "https://github.com/David-Ramirez01/Test-CB",
    image: "/projects/auth.webp",
    tags: ["React.JS", "Firebase", "boostrap", "typeSript"],
  },
  {
    title: "Notes App",
    description:
      "proyecto Web utilizando Laravel(PHP) y JavaScript para la creaci贸n de notas",
    link: "#",
    github: "https://github.com/David-Ramirez01/app_notas",
    image: "https://placehold.co/400x200",
    tags: ["Laravel", "PHP", "JavaScript", "CSS"],
  },
];
---

{
  Prj.map(({ title, description, link, github, image, tags }) => (
    <article class="py-2">
      <h2 class="text-2xl font-semibold text-blue-400/80 mb-2">{title}</h2>
      <p class="text-lg mb-2 text-pretty">{description}</p>
      <ul class="flex flex-row gap-x-2 mb-2">
        {tags.map((tag) => (
          <span>
            <li class="flex gap-x-2 rounded-full text-xs py-1 px-2 bg-sky-400 text-black">
              {tag}
            </li>
          </span>
        ))}
      </ul>
      {image && (
        <img
          class="rounded-xl shadow-2xl shadow-white/10 w-lg h-lg hover:scale-110 transition-transform"
          src={image}
          alt="Captura de pantalla del proyecto"
        />
      )}
    </article>
  ))
}
