---
import astroLogo from "../assets/astro.svg";
import background from "../assets/background.svg";
import Github from "./Icons/Github.astro";
import Badge from "./Badge.astro";
import Linkedin from "./Icons/Linkedin.astro";
import SocialPill from "./Icons/SocialPill.astro";
import Mail from "./Icons/mail.astro";
---

<main>
  <section class="w-full lg:w-[740px] mx-auto py-44">
    <h1 class="text-white text-5xl font-bold flex flex-row gap-x-4 pb-10">
      <img
        src="/src/assets/Foto.jpg"
        class="rounded-full w-15 h-16"
        alt="Aimar photo"
      />
      Hola , Soy Aimar <a
        href="https://www.linkedin.com/in/a-david-nino/"
        target="_blank"
        rel="noopener"
        class="flex justify-center items-center"
      >
        <Badge> Disponible</Badge>
      </a>
    </h1>
    <h2 class="text-xl text-wrap">
      Experiencia en proyectos tecnologicos,<span class="text-blue-400/80">
        Conocimientos en el desarrollo web , Conocimientos en ciberseguridad y
        proyectos tecnologicos
      </span>
    </h2>
    <nav class="flex flex-row gap-x-2 mt-4">
      <SocialPill href="https://www.linkedin.com/in/a-david-nino/">
        <Linkedin class="size-6" />
        Linkedin
      </SocialPill>
      <SocialPill href="https://github.com/David-Ramirez01">
        <Github class="size-6" />
        Github
      </SocialPill>
      <SocialPill>
        <Mail class="size-6" />
        aimardavidninor@hotmail.com
      </SocialPill>
    </nav>
  </section>
</main>
