---
import Head from "../components/Head.astro";
import Footer from "../components/Footer.astro";
import "../styles/global.css";// Supports weights 400-900
import '@fontsource-variable/playfair-display';
---

<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="description" content="Desarrollador Web junior con ganas de aprender y 1 año de experiencia en gesito de proyectos y soporte">
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>Portfolio de Aimar Programador y desarrollador web</title>
  </head>
  <body class="dark">
    <div class="fixed left-0 top-0 -z-10 h-full w-full">
      <div class="absolute inset-0 -z-10 h-full w-full items-center px-5 py-24 [background:radial-gradient(125%_125%_at_50%_10%,#000_40%,#63e_100%)]"></div>
    </div>
      <Head/>
      <slot />
      <Footer/>
  </body>
</html>

<style is:global>
  :root{
    color-scheme: dark light;
  }
  html {
    
    color: flex: 1 1 auto;
    font-family: 'Playfair Display Variable' , system-ui, sans-serif;
  }
  body {
    background: #111111 ; 
    display: flex;
    flex-direction: column;
    min-height: 100vh ;
    scroll-behavior: smooth;
  }

  @media (prefers-reduced-motion: reduce) {
    html {
      scroll-behavior: auto;
    }
  }
</style>
